# .env.example (copy/rename to .env for actual use)
# Accepts format as shown below
# NOTE: Environment variables with the same names will also be checked (and prioritized) over this file

# VAR=VALUE
# Example: REMOTE_USERNAME=Administrator
# Example: REMOTE_PASSWORD=S3cureP4ssw0rd123!
# Quoting is supported but not required (both double and single quotes).
# Quoting Example: REMOTE_USERNAME="Administrator"
# Quoting Example: REMOTE_PASSWORD='S3cureP4ssw0rd123!'
REMOTE_USERNAME=
REMOTE_PASSWORD=
